@page "/"

<h1>Hello, world!</h1>

This is a project for COOP 3003 by Colin Mason. This project is mainly for testing and figuring out the features of Blazor and Azure.

<SurveyPrompt Title="How is Blazor working for you?" />
