@page "/IPO"
<!--Colin Mason-->
<!--https://devblogs.microsoft.com/aspnet/azure-static-web-apps-with-blazor/-->

<h1>IPO</h1>

<p>Input prompt </p>

<input @bind="InputString "/>

<button class="btn btn-primary" @onclick="DoProcessing">Do it</button>

<p>Output: @Output </p>

@code

{

    private string InputString { get; set; }

    private string Output { get; set; }

    private void DoProcessing()

    {

        double num = double.Parse(InputString);

        num = num * 4; 
        num = num / 2;

        Output = num.ToString();

    }

}
      
